<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center>
      <h1>  PREDICTION </h1>
        <br>
        <br>
        청구품목  : {{datas[0]}} <br>
        발주처 : {{datas[1]}} <br>
        Assembly  : {{datas[2]}} <br>
        Machinery : {{datas[3]}} <br>
        Part No.1 : {{datas[4]}} <br>
        Part No.2  : {{datas[5]}} <br>
        <h3> category : {{pred}} </h3>


        <br><br>
    <a href='/'>go home</a>
    </center>
</body>
</html>