<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

    <center>
        <h1> Classification PREDICTION</h1>

        <form method="POST", action="{{url_for('home')}}">
           <b> Machinery :  <input type="text", name='a', placeholder="Machinery"> <br><br>
            Assembly :  <input type="text", name='b', placeholder="Assembly"> <br><br>
            Part No.1 :  <input type="text", name='c', placeholder="Part No.1"> <br><br>
            청구품목 : <input type="text", name='d', placeholder="청구품목"> <br><br><br></b>
            <input type="submit" , value='predict' >
        </form>

        <!-- <img src='static\flower1.jpg' alt="flower"> -->
    </center>


</body>
</html>