.rlogoheader {
    /* background: gray; */
    padding: 20;
    display: flex;
    flex-direction: row;
    clear: both;
}

.rlogoimg1 {
    margin-left: 3vw;
    margin-top: 0.6vh;
}

.rlogodiv2{
    /* background-color: blue; */
    cursor: pointer;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    margin-left: 89vw;
    margin-top: 0.6vh;
}

.rlogoimg2{
    width : 2.3em;
    height : 2.3em;
    margin-left: 0.5vw;
}

.rlogop1{
    margin-top: 0px;
    margin-left: 0.3vw;
    font-family: "Pretendard Regular";
    font-size: 0.93em;
}