.rlogodiv {
    /* background: gray; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    clear: both;
}

.rlogoimg1 {
    margin-left: 3vw;
    /* margin-top: 0.6vh; */
    width: 2.7em;
    height: 2.7em;
}


.rlogodiv1{
    /* background-color: blue; */
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-right: 20vw;
}



.rlogodiv2{
    /* background-color: red; */
    cursor: pointer;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    margin-left: 21vw;
    /* margin-top: 10px; */
}

.logoname{
    margin-top: 0px;
    /* margin-left: 0.3vw; */
    font-family: "Pretendard ExtraBold";
    font-size: 1.5em;
    margin-top: 3%;
}

.rlogop1{
    margin-top: 0px;
    /* margin-left: 0.3vw; */
    font-family: "Pretendard Regular";
    font-size: 0.93em;
}

.rlogoimg2{
    width : 2.3em;
    height : 2.3em;
    /* margin-left: 0.5vw; */
}