.rnavdiv1 {
    /* background-color: skyblue; */
    float: right;
    padding: 0.5%;
}

.rnavdiv1 > span {
    padding: 20px;
    cursor: pointer;
}

.rnavbutton1{
    border: 0;
    background-color: transparent;
    font-family: 'Pretendard SemiBold';
    font-size: 1em;
    margin-right: 3vw;
}