<<<<<<< HEAD
.box{
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: aliceblue;
}

.form1{
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

=======
.box{
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: aliceblue;
}

.form1{
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

>>>>>>> 49518912e5d96d6db50795f753cdf51dd292c7eb
