<<<<<<< HEAD
.form1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100vh;
    /* background-color: aliceblue; */
}

.form2 {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(143, 175, 204); */
=======
.form1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100vh;
    /* background-color: aliceblue; */
}

.form2 {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(143, 175, 204); */
>>>>>>> 49518912e5d96d6db50795f753cdf51dd292c7eb
}